name: Build & upload APK to TestApp.io

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      - develop

jobs:
  build:
    name: Build and upload to TestApp.io
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set build type
        id: buildtype
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "type=release" >> "$GITHUB_OUTPUT"
          else
            echo "type=debug" >> "$GITHUB_OUTPUT"
          fi

      - name: Build Debug
        if: steps.buildtype.outputs.type == 'debug'
        run: ./gradlew assembleDebug

      - name: Build Release
        if: steps.buildtype.outputs.type == 'release'
        run: ./gradlew assembleRelease
