name: Build & upload APK to TestApp.io

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      - develop

jobs:
  build:
    name: Build and upload to TestApp.io
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Ce step se lance uniquement si la branche est develop
      - name: Build Debug
        if: github.ref == 'refs/heads/develop'
        run: ./gradlew assembleDebug

      # Ce step se lance uniquement si la branche est main
      - name: Build Release
        if: github.ref == 'refs/heads/main'
        run: ./gradlew assembleRelease
